<aside class="sidebar" 
       [class.sidebar--collapsed]="collapsed" 
       [class.sidebar--mobile-open]="mobileMenuOpen"
       [class.sidebar--mobile]="isMobile"
       (click)="onSidebarClick($event)">
  
  <div class="sidebar__overlay" (click)="close()"></div>

  <div class="sidebar__panel">
    <!-- Brand Section -->
    <div class="sidebar__brand">
      <div class="sidebar__brand-badge">
        <img src="assets/images/auth/logo.svg" alt="PMHub" class="sidebar__brand-logo">
      </div>
      <span class="sidebar__brand-name" *ngIf="!collapsed || isMobile">PMHUB</span>
      
     
    </div>



    <!-- Navigation Scroll Area -->
    <div class="sidebar__scroll">
      <div class="sidebar__group">
        <h3 class="sidebar__heading" *ngIf="!collapsed || isMobile">Navigation</h3>
        
        <div class="sidebar-item" *ngFor="let item of navItems">
          <!-- Parent Link -->
          <a class="sidebar-link" 
             [routerLink]="item.route" 
             routerLinkActive="sidebar-link--active"
             [routerLinkActiveOptions]="{exact: !!item.exact}"
             (click)="onNavItemClick()"
             *ngIf="!item.children?.length">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span *ngIf="!collapsed || isMobile">{{ item.label }}</span>
          </a>

          <!-- Group Button (for items with children) -->
          <button class="sidebar-link sidebar-link--button" 
                  (click)="onSectionButtonClick(item.id)"
                  *ngIf="item.children?.length"
                  [class.sidebar-link--active]="hasActiveChild(item)">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span *ngIf="!collapsed || isMobile">{{ item.label }}</span>
            <mat-icon class="sidebar-link__chevron" *ngIf="!collapsed || isMobile">
              {{ isExpanded(item.id) ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
          </button>

          <!-- Submenu -->
          <div class="sidebar-submenu" 
               [class.sidebar-submenu--expanded]="isExpanded(item.id)"
               *ngIf="item.children?.length && (!collapsed || isMobile)">
            <div>
              <a *ngFor="let child of item.children"
                 [routerLink]="child.route"
                 routerLinkActive="sidebar-submenu__link--active"
                 [routerLinkActiveOptions]="{exact: !!child.exact}"
                 class="sidebar-submenu__link"
                 (click)="onNavItemClick()">
                {{ child.label }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</aside>
